# 03 - Feature Engineering for Car Price Prediction

This notebook creates derived features to improve model performance:
- Car age and age-related features
- Price and mileage ratios
- Categorical binning for better patterns
- Brand/model popularity metrics

## 1. Setup and Data Loading

In [1]:
# Core libraries
import polars as pl
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Path handling
from pathlib import Path
import os
import sys

# Configure plotting
plt.style.use('default')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 8)

# Add project root to path
current_dir = Path.cwd()
project_root = current_dir.parent if current_dir.name == "notebooks" else current_dir
sys.path.insert(0, str(project_root))

from src.config import DATA_PATH, PROCESSED_DATA_PATH, MODELS_PATH
from src import data_processing

print("âœ… Libraries loaded successfully")

âœ… Libraries loaded successfully

In [3]:
data_dir = Path(os.path.join(DATA_PATH, "le_boncoin_13_oct_2025"))
data = data_processing.load_car_data(data_dir)
data.head(2)

(732427, 35)

shape: (2, 35)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ url        â”† first_publ â”† index_date â”† price   â”† â€¦ â”† longitude â”† source â”† fournisseu â”† forme_exi â”‚
â”‚ ---        â”† ication_da â”† ---        â”† ---     â”†   â”† ---       â”† ---    â”† r          â”† stante    â”‚
â”‚ str        â”† te         â”† str        â”† str     â”†   â”† str       â”† str    â”† ---        â”† ---       â”‚
â”‚            â”† ---        â”†            â”†         â”†   â”†           â”†        â”† str        â”† str       â”‚
â”‚            â”† str        â”†            â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ https://ww â”† 2025-09-01 â”† 2025-10-08 â”† 24900 â‚¬ â”† â€¦ â”† 3.08908   â”† city   â”† here       â”† True      â”‚
â”‚ w.leboncoi â”† 15:37:26   â”† 18:28:10   â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â”‚ n.fr/ad/vo â”†            â”†            â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â”‚ â€¦          â”†            â”†            â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â”‚ https://ww â”† 2025-10-06 â”† 2025-10-06 â”† 39000 â‚¬ â”† â€¦ â”† 2.70473   â”† city   â”† here       â”† True      â”‚
â”‚ w.leboncoi â”† 19:02:42   â”† 19:02:42   â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â”‚ n.fr/ad/vo â”†            â”†            â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â”‚ â€¦          â”†            â”†            â”†         â”†   â”†           â”†        â”†            â”†           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [4]:
# clean apply initial preprocessing

data = data_processing.clean_car_data(data)

ğŸ§¹ Starting data cleaning pipeline...
============================================================

1ï¸âƒ£ Converting data types...
   Original: 732,427 rows
   After conversion: 732,426 rows
   Removed (invalid price): 1

2ï¸âƒ£ Filtering and grouping brands...
   Removed 63 brands with <50 cars
   Grouped 38 brands into price tiers

3ï¸âƒ£ Removing antique cars (pre-1990)...
   Original: 732,427 rows
   After conversion: 732,426 rows
   Removed (invalid price): 1

2ï¸âƒ£ Filtering and grouping brands...
   Removed 63 brands with <50 cars
   Grouped 38 brands into price tiers

3ï¸âƒ£ Removing antique cars (pre-1990)...
   Removed 14,075 antique cars

4ï¸âƒ£ Removing 'autre' entries...
   Removed 4,050 'autre' entries

5ï¸âƒ£ Removing outliers (IQR 1.5Ã— for price, 1.5Ã— for km)...
   Before: 713,413 rows
   After: 691,115 rows
   Removed: 22,298 (3.1%)

âœ… Data cleaning completed!
Final dataset: 691,115 rows Ã— 5 columns
   Removed 14,075 antique cars

4ï¸âƒ£ Removing 'autre' entries...
   Removed 4,050 'autre' entries

5ï¸âƒ£ Removing outliers (IQR 1.5Ã— for price, 1.5Ã— for km)...
   Before: 713,413 rows
   After: 691,115 rows
   Removed: 22,298 (3.1%)

âœ… Data cleaning completed!
Final dataset: 691,115 rows Ã— 5 columns

In [7]:
data.filter(pl.col('brand') == 'BMW')['price'].max()

155990.0

In [10]:
# Extract all combinations of brands and models that are not 'other'
print("ğŸ” EXTRACTING BRAND-MODEL COMBINATIONS FOR VALIDATION")
print("=" * 70)

# Filter out 'other' brands and get unique combinations
brand_model_combinations = (
    data
    .filter(~pl.col('brand').str.contains('other'))
    .select(['brand', 'model'])
    .unique()
    .sort(['brand', 'model'])
)

print(f"\nğŸ“Š Total unique brand-model combinations: {brand_model_combinations.height:,}")

# Group by brand to see models per brand
combinations_by_brand = brand_model_combinations.group_by('brand').agg(
    pl.col('model').count().alias('model_count'),
    pl.col('model').alias('models')
).sort('model_count', descending=True)

print(f"\nğŸ·ï¸ BRANDS AND THEIR MODELS:")
print("=" * 70)

for row in combinations_by_brand.iter_rows():
    brand, model_count, models = row
    print(f"\n{brand.upper()}: {model_count} models")
    print("-" * 50)
    for model in sorted(models):
        # Count listings for this combination
        count = data.filter(
            (pl.col('brand') == brand) & (pl.col('model') == model)
        ).height
        print(f"  â€¢ {model}: {count:,} listings")

# Export to CSV for external review
export_path = PROCESSED_DATA_PATH / "brand_model_combinations.csv"
brand_model_combinations.to_pandas().to_csv(export_path, index=False)
print(f"\nğŸ’¾ Exported to: {export_path}")

# Also show as table for quick inspection
print(f"\nğŸ“‹ ALL COMBINATIONS (TABLE VIEW):")
print("=" * 70)
combinations_with_count = (
    data
    .filter(~pl.col('brand').str.contains('other'))
    .group_by(['brand', 'model'])
    .agg(pl.len().alias('count'))
    .sort(['brand', 'model'])
)

combinations_with_count.to_pandas().head(50)

ğŸ” EXTRACTING BRAND-MODEL COMBINATIONS FOR VALIDATION
======================================================================

ğŸ“Š Total unique brand-model combinations: 1,084

ğŸ·ï¸ BRANDS AND THEIR MODELS:
======================================================================

MERCEDES-BENZ: 65 models
--------------------------------------------------
  â€¢ 180: 251 listings
  â€¢ 190: 57 listings
  â€¢ 200: 334 listings
  â€¢ 220: 249 listings
  â€¢ 230: 15 listings
  â€¢ 240: 6 listings
  â€¢ 250: 98 listings
  â€¢ 260: 2 listings
  â€¢ 270: 12 listings
  â€¢ 280: 21 listings
  â€¢ 290: 1 listings
  â€¢ 300: 71 listings
  â€¢ 320: 68 listings
  â€¢ 350: 60 listings
  â€¢ 400: 6 listings
  â€¢ 420: 4 listings
  â€¢ 450: 2 listings
  â€¢ 500: 31 listings
  â€¢ 560: 2 listings
  â€¢ 600: 5 listings
  â€¢ AMG GT: 200 listings
  â€¢ CE: 8 listings
  â€¢ CL: 61 listings
  â€¢ CLE: 175 listings
  â€¢ Citan: 51 listings
  â€¢ Classe A: 8,869 listings
  â€¢ Classe B: 3,081 listings
  â€¢ Classe C: 6,166 listings
  â€¢ Classe CLA: 3,158 listings
  â€¢ Classe CLC: 76 listings
  â€¢ Classe CLK: 496 listings
  â€¢ Classe CLS: 544 listings
  â€¢ Classe E: 2,740 listings
  â€¢ Classe G: 219 listings
  â€¢ Classe GL: 120 listings
  â€¢ Classe GLA: 2,842 listings
  â€¢ Classe GLB: 549 listings
  â€¢ Classe GLC: 3,150 listings
  â€¢ Classe GLE: 1,145 listings
  â€¢ Classe GLK: 270 listings
  â€¢ Classe GLS: 40 listings
  â€¢ Classe M/ML: 800 listings
  â€¢ Classe R: 111 listings
  â€¢ Classe S: 660 listings
  â€¢ Classe SL: 298 listings
  â€¢ Classe SLC: 40 listings
  â€¢ Classe SLK: 864 listings
  â€¢ Classe T: 30 listings
  â€¢ Classe V: 702 listings
  â€¢ Classe X: 36 listings
  â€¢ EQA: 401 listings
  â€¢ EQB: 254 listings
  â€¢ EQC: 77 listings
  â€¢ EQE: 159 listings
  â€¢ EQE SUV: 4 listings
  â€¢ EQS: 49 listings
  â€¢ EQS SUV: 1 listings
  â€¢ EQT: 42 listings
  â€¢ EQV: 56 listings
  â€¢ Marco Polo: 62 listings
  â€¢ SLS AMG: 1 listings
  â€¢ Sprinter: 85 listings
  â€¢ Vaneo: 2 listings
  â€¢ Viano: 296 listings
  â€¢ Vito: 676 listings

FORD: 56 models
--------------------------------------------------
  â€¢ Aerostar: 2 listings
  â€¢ B-MAX: 523 listings
  â€¢ Bronco: 23 listings
  â€¢ C-MAX: 1,106 listings
  â€¢ Capri: 29 listings
  â€¢ Cougar: 18 listings
  â€¢ Courrier: 12 listings
  â€¢ Crown: 2 listings
  â€¢ Custom: 436 listings
  â€¢ EcoSport: 867 listings
  â€¢ Econoline: 9 listings
  â€¢ Edge: 93 listings
  â€¢ Escape: 1 listings
  â€¢ Escort: 51 listings
  â€¢ Excursion: 1 listings
  â€¢ Expedition: 7 listings
  â€¢ Explorer: 195 listings
  â€¢ Express: 1 listings
  â€¢ F 100: 2 listings
  â€¢ F 150: 262 listings
  â€¢ F 250: 7 listings
  â€¢ F 350: 6 listings
  â€¢ Falcon: 1 listings
  â€¢ Fiesta: 4,955 listings
  â€¢ Flex: 2 listings
  â€¢ Focus: 4,170 listings
  â€¢ Fusion: 255 listings
  â€¢ GT: 3 listings
  â€¢ Galaxie: 1 listings
  â€¢ Galaxy: 194 listings
  â€¢ Grand C-Max: 586 listings
  â€¢ Ka: 751 listings
  â€¢ Ka+: 151 listings
  â€¢ Kuga: 3,754 listings
  â€¢ Maverick: 15 listings
  â€¢ Model T: 1 listings
  â€¢ Mondeo: 790 listings
  â€¢ Mustang: 1,169 listings
  â€¢ Mustang Mach-E: 187 listings
  â€¢ Orion: 2 listings
  â€¢ Probe: 15 listings
  â€¢ Puma: 4,134 listings
  â€¢ Ranger: 1,072 listings
  â€¢ Raptor: 74 listings
  â€¢ S-MAX: 547 listings
  â€¢ Scorpio: 4 listings
  â€¢ Sierra: 11 listings
  â€¢ Sportka: 3 listings
  â€¢ Streetka: 27 listings
  â€¢ Taurus: 1 listings
  â€¢ Thunderbird: 6 listings
  â€¢ Tourneo: 58 listings
  â€¢ Tourneo Connect: 154 listings
  â€¢ Tourneo Courier: 129 listings
  â€¢ Transit: 212 listings
  â€¢ Transit 2T: 42 listings

AUDI: 52 models
--------------------------------------------------
  â€¢ 100: 13 listings
  â€¢ 200: 2 listings
  â€¢ 80: 31 listings
  â€¢ 90: 9 listings
  â€¢ A1: 4,959 listings
  â€¢ A2: 15 listings
  â€¢ A3: 8,355 listings
  â€¢ A4: 3,547 listings
  â€¢ A4 Allroad: 255 listings
  â€¢ A5: 2,670 listings
  â€¢ A6: 2,054 listings
  â€¢ A6 Allroad: 211 listings
  â€¢ A7: 409 listings
  â€¢ A8: 238 listings
  â€¢ Cabriolet: 35 listings
  â€¢ CoupÃ©: 16 listings
  â€¢ Q2: 2,298 listings
  â€¢ Q3: 4,063 listings
  â€¢ Q4: 374 listings
  â€¢ Q5: 3,263 listings
  â€¢ Q6: 70 listings
  â€¢ Q7: 977 listings
  â€¢ Q8: 392 listings
  â€¢ Quattro: 12 listings
  â€¢ R8: 196 listings
  â€¢ RS Q3: 192 listings
  â€¢ RS Q8: 48 listings
  â€¢ RS2: 1 listings
  â€¢ RS3: 894 listings
  â€¢ RS4: 300 listings
  â€¢ RS5: 215 listings
  â€¢ RS6: 428 listings
  â€¢ RS7: 51 listings
  â€¢ S1: 104 listings
  â€¢ S2: 2 listings
  â€¢ S3: 1,471 listings
  â€¢ S4: 280 listings
  â€¢ S5: 335 listings
  â€¢ S6: 140 listings
  â€¢ S7: 46 listings
  â€¢ S8: 60 listings
  â€¢ SQ2: 41 listings
  â€¢ SQ5: 659 listings
  â€¢ SQ6: 7 listings
  â€¢ SQ7: 72 listings
  â€¢ SQ8: 28 listings
  â€¢ TT: 1,584 listings
  â€¢ TT RS: 139 listings
  â€¢ TTS: 264 listings
  â€¢ V8: 2 listings
  â€¢ e-tron: 250 listings
  â€¢ e-tron GT: 90 listings

RENAULT: 51 models
--------------------------------------------------
  â€¢ 10: 21 listings
  â€¢ 11: 8 listings
  â€¢ 12: 8 listings
  â€¢ 14: 4 listings
  â€¢ 15/17: 12 listings
  â€¢ 16: 9 listings
  â€¢ 18: 4 listings
  â€¢ 19: 138 listings
  â€¢ 20: 1 listings
  â€¢ 21: 57 listings
  â€¢ 25: 18 listings
  â€¢ 4/4L: 204 listings
  â€¢ 4CV: 26 listings
  â€¢ 5: 425 listings
  â€¢ 6: 10 listings
  â€¢ Alaskan: 17 listings
  â€¢ Arkana: 4,386 listings
  â€¢ Austral: 2,190 listings
  â€¢ Avantime: 53 listings
  â€¢ Captur: 11,089 listings
  â€¢ Celtaquatre: 2 listings
  â€¢ Clio: 24,849 listings
  â€¢ Espace: 2,343 listings
  â€¢ Express: 47 listings
  â€¢ Fluence: 31 listings
  â€¢ FrÃ©gate: 2 listings
  â€¢ Grand Espace: 164 listings
  â€¢ Grand Modus: 386 listings
  â€¢ Grand Scenic: 2,601 listings
  â€¢ Juvaquatre: 1 listings
  â€¢ Kadjar: 2,737 listings
  â€¢ Kangoo: 1,736 listings
  â€¢ Koleos: 805 listings
  â€¢ Laguna: 1,616 listings
  â€¢ Latitude: 71 listings
  â€¢ Mascott: 7 listings
  â€¢ Master: 273 listings
  â€¢ Megane: 14,029 listings
  â€¢ Modus: 853 listings
  â€¢ Rafale: 392 listings
  â€¢ Safrane: 63 listings
  â€¢ Scenic: 5,032 listings
  â€¢ Spider: 11 listings
  â€¢ Symbioz: 968 listings
  â€¢ Talisman: 843 listings
  â€¢ Trafic: 1,331 listings
  â€¢ Twingo: 8,184 listings
  â€¢ Twizy: 264 listings
  â€¢ Vel Satis: 107 listings
  â€¢ Wind: 78 listings
  â€¢ Zoe: 4,508 listings

NISSAN: 50 models
--------------------------------------------------
  â€¢ 100NX: 12 listings
  â€¢ 200SX: 23 listings
  â€¢ 240 SX: 2 listings
  â€¢ 300ZX: 11 listings
  â€¢ 350Z: 159 listings
  â€¢ Vaneo: 2 listings
  â€¢ Viano: 296 listings
  â€¢ Vito: 676 listings

FORD: 56 models
--------------------------------------------------
  â€¢ Aerostar: 2 listings
  â€¢ B-MAX: 523 listings
  â€¢ Bronco: 23 listings
  â€¢ C-MAX: 1,106 listings
  â€¢ Capri: 29 listings
  â€¢ Cougar: 18 listings
  â€¢ Courrier: 12 listings
  â€¢ Crown: 2 listings
  â€¢ Custom: 436 listings
  â€¢ EcoSport: 867 listings
  â€¢ Econoline: 9 listings
  â€¢ Edge: 93 listings
  â€¢ Escape: 1 listings
  â€¢ Escort: 51 listings
  â€¢ Excursion: 1 listings
  â€¢ Expedition: 7 listings
  â€¢ Explorer: 195 listings
  â€¢ Express: 1 listings
  â€¢ F 100: 2 listings
  â€¢ F 150: 262 listings
  â€¢ F 250: 7 listings
  â€¢ F 350: 6 listings
  â€¢ Falcon: 1 listings
  â€¢ Fiesta: 4,955 listings
  â€¢ Flex: 2 listings
  â€¢ Focus: 4,170 listings
  â€¢ Fusion: 255 listings
  â€¢ GT: 3 listings
  â€¢ Galaxie: 1 listings
  â€¢ Galaxy: 194 listings
  â€¢ Grand C-Max: 586 listings
  â€¢ Ka: 751 listings
  â€¢ Ka+: 151 listings
  â€¢ Kuga: 3,754 listings
  â€¢ Maverick: 15 listings
  â€¢ Model T: 1 listings
  â€¢ Mondeo: 790 listings
  â€¢ Mustang: 1,169 listings
  â€¢ Mustang Mach-E: 187 listings
  â€¢ Orion: 2 listings
  â€¢ Probe: 15 listings
  â€¢ Puma: 4,134 listings
  â€¢ Ranger: 1,072 listings
  â€¢ Raptor: 74 listings
  â€¢ S-MAX: 547 listings
  â€¢ Scorpio: 4 listings
  â€¢ Sierra: 11 listings
  â€¢ Sportka: 3 listings
  â€¢ Streetka: 27 listings
  â€¢ Taurus: 1 listings
  â€¢ Thunderbird: 6 listings
  â€¢ Tourneo: 58 listings
  â€¢ Tourneo Connect: 154 listings
  â€¢ Tourneo Courier: 129 listings
  â€¢ Transit: 212 listings
  â€¢ Transit 2T: 42 listings

AUDI: 52 models
--------------------------------------------------
  â€¢ 100: 13 listings
  â€¢ 200: 2 listings
  â€¢ 80: 31 listings
  â€¢ 90: 9 listings
  â€¢ A1: 4,959 listings
  â€¢ A2: 15 listings
  â€¢ A3: 8,355 listings
  â€¢ A4: 3,547 listings
  â€¢ A4 Allroad: 255 listings
  â€¢ A5: 2,670 listings
  â€¢ A6: 2,054 listings
  â€¢ A6 Allroad: 211 listings
  â€¢ A7: 409 listings
  â€¢ A8: 238 listings
  â€¢ Cabriolet: 35 listings
  â€¢ CoupÃ©: 16 listings
  â€¢ Q2: 2,298 listings
  â€¢ Q3: 4,063 listings
  â€¢ Q4: 374 listings
  â€¢ Q5: 3,263 listings
  â€¢ Q6: 70 listings
  â€¢ Q7: 977 listings
  â€¢ Q8: 392 listings
  â€¢ Quattro: 12 listings
  â€¢ R8: 196 listings
  â€¢ RS Q3: 192 listings
  â€¢ RS Q8: 48 listings
  â€¢ RS2: 1 listings
  â€¢ RS3: 894 listings
  â€¢ RS4: 300 listings
  â€¢ RS5: 215 listings
  â€¢ RS6: 428 listings
  â€¢ RS7: 51 listings
  â€¢ S1: 104 listings
  â€¢ S2: 2 listings
  â€¢ S3: 1,471 listings
  â€¢ S4: 280 listings
  â€¢ S5: 335 listings
  â€¢ S6: 140 listings
  â€¢ S7: 46 listings
  â€¢ S8: 60 listings
  â€¢ SQ2: 41 listings
  â€¢ SQ5: 659 listings
  â€¢ SQ6: 7 listings
  â€¢ SQ7: 72 listings
  â€¢ SQ8: 28 listings
  â€¢ TT: 1,584 listings
  â€¢ TT RS: 139 listings
  â€¢ TTS: 264 listings
  â€¢ V8: 2 listings
  â€¢ e-tron: 250 listings
  â€¢ e-tron GT: 90 listings

RENAULT: 51 models
--------------------------------------------------
  â€¢ 10: 21 listings
  â€¢ 11: 8 listings
  â€¢ 12: 8 listings
  â€¢ 14: 4 listings
  â€¢ 15/17: 12 listings
  â€¢ 16: 9 listings
  â€¢ 18: 4 listings
  â€¢ 19: 138 listings
  â€¢ 20: 1 listings
  â€¢ 21: 57 listings
  â€¢ 25: 18 listings
  â€¢ 4/4L: 204 listings
  â€¢ 4CV: 26 listings
  â€¢ 5: 425 listings
  â€¢ 6: 10 listings
  â€¢ Alaskan: 17 listings
  â€¢ Arkana: 4,386 listings
  â€¢ Austral: 2,190 listings
  â€¢ Avantime: 53 listings
  â€¢ Captur: 11,089 listings
  â€¢ Celtaquatre: 2 listings
  â€¢ Clio: 24,849 listings
  â€¢ Espace: 2,343 listings
  â€¢ Express: 47 listings
  â€¢ Fluence: 31 listings
  â€¢ FrÃ©gate: 2 listings
  â€¢ Grand Espace: 164 listings
  â€¢ Grand Modus: 386 listings
  â€¢ Grand Scenic: 2,601 listings
  â€¢ Juvaquatre: 1 listings
  â€¢ Kadjar: 2,737 listings
  â€¢ Kangoo: 1,736 listings
  â€¢ Koleos: 805 listings
  â€¢ Laguna: 1,616 listings
  â€¢ Latitude: 71 listings
  â€¢ Mascott: 7 listings
  â€¢ Master: 273 listings
  â€¢ Megane: 14,029 listings
  â€¢ Modus: 853 listings
  â€¢ Rafale: 392 listings
  â€¢ Safrane: 63 listings
  â€¢ Scenic: 5,032 listings
  â€¢ Spider: 11 listings
  â€¢ Symbioz: 968 listings
  â€¢ Talisman: 843 listings
  â€¢ Trafic: 1,331 listings
  â€¢ Twingo: 8,184 listings
  â€¢ Twizy: 264 listings
  â€¢ Vel Satis: 107 listings
  â€¢ Wind: 78 listings
  â€¢ Zoe: 4,508 listings

NISSAN: 50 models
--------------------------------------------------
  â€¢ 100NX: 12 listings
  â€¢ 200SX: 23 listings
  â€¢ 240 SX: 2 listings
  â€¢ 300ZX: 11 listings
  â€¢ 350Z: 159 listings
  â€¢ 370Z: 123 listings
  â€¢ Almera: 21 listings
  â€¢ Almera Tino: 12 listings
  â€¢ Altima: 2 listings
  â€¢ Ariya: 73 listings
  â€¢ Cabstar: 10 listings
  â€¢ Cube: 13 listings
  â€¢ Evalia: 13 listings
  â€¢ GT-R: 22 listings
  â€¢ Interstar: 9 listings
  â€¢ Juke: 3,803 listings
  â€¢ King Cab: 14 listings
  â€¢ Kubistar: 5 listings
  â€¢ Leaf: 987 listings
  â€¢ Maxima: 5 listings
  â€¢ Micra: 1,582 listings
  â€¢ Murano: 67 listings
  â€¢ NP300: 10 listings
  â€¢ NV200: 65 listings
  â€¢ NV250: 1 listings
  â€¢ NV300: 21 listings
  â€¢ NV400: 12 listings
  â€¢ Navara: 432 listings
  â€¢ Note: 334 listings
  â€¢ Pathfinder: 92 listings
  â€¢ Patrol: 330 listings
  â€¢ Pick-up: 6 listings
  â€¢ Pixo: 81 listings
  â€¢ Primastar: 90 listings
  â€¢ Primera: 24 listings
  â€¢ Pulsar: 125 listings
  â€¢ Qashqai: 5,470 listings
  â€¢ Qashqai+2: 401 listings
  â€¢ Quest: 1 listings
  â€¢ Serena: 1 listings
  â€¢ Silvia: 2 listings
  â€¢ Skyline: 26 listings
  â€¢ Sunny: 7 listings
  â€¢ Terrano: 88 listings
  â€¢ Tilda: 1 listings
  â€¢ Titan: 7 listings
  â€¢ Townstar: 5 listings
  â€¢ Trade: 1 listings
  â€¢ Vanette: 4 listings
  â€¢ X-Trail: 1,135 listings

CITROEN: 48 models
--------------------------------------------------
  â€¢ 2 CV: 36 listings
  â€¢ AX: 113 listings
  â€¢ Ami: 432 listings
  â€¢ BX: 27 listings
  â€¢ Berlingo: 2,663 listings
  â€¢ C-Crosser: 106 listings
  â€¢ C-ElysÃ©e: 80 listings
  â€¢ C-ZÃ©ro: 173 listings
  â€¢ C1: 1,980 listings
  â€¢ C15: 50 listings
  â€¢ C2: 930 listings
  â€¢ C25: 1 listings
  â€¢ C3: 16,424 listings
  â€¢ C3 Aircross: 4,845 listings
  â€¢ C3 Picasso: 1,326 listings
  â€¢ C3 Pluriel: 164 listings
  â€¢ C4: 7,139 listings
  â€¢ C4 Aircross: 306 listings
  â€¢ C4 Cactus: 1,911 listings
  â€¢ C4 Picasso: 5,565 listings
  â€¢ C4 SpaceTourer: 952 listings
  â€¢ C4 X: 279 listings
  â€¢ C5: 1,758 listings
  â€¢ C5 Aircross: 4,853 listings
  â€¢ C5 X: 342 listings
  â€¢ C6: 121 listings
  â€¢ C8: 272 listings
  â€¢ DS: 11 listings
  â€¢ DS3: 2,520 listings
  â€¢ DS4: 846 listings
  â€¢ DS4 Crossback: 6 listings
  â€¢ DS5: 526 listings
  â€¢ Dyane: 4 listings
  â€¢ Evasion: 18 listings
  â€¢ Holidays: 3 listings
  â€¢ Jumper: 151 listings
  â€¢ Jumpy: 592 listings
  â€¢ MÃ©hari: 9 listings
  â€¢ Nemo: 195 listings
  â€¢ Saxo: 462 listings
  â€¢ SpaceTourer: 168 listings
  â€¢ Traction/15: 1 listings
  â€¢ XM: 56 listings
  â€¢ Xantia: 141 listings
  â€¢ Xsara: 400 listings
  â€¢ Xsara Picasso: 359 listings
  â€¢ ZX: 61 listings
  â€¢ e-Mehari: 25 listings

VOLKSWAGEN: 48 models
--------------------------------------------------
  â€¢ Amarok: 189 listings
  â€¢ Arteon: 281 listings
  â€¢ Beetle: 384 listings
  â€¢ Bora: 51 listings
  â€¢ Caddy: 371 listings
  â€¢ California: 373 listings
  â€¢ Caravelle: 277 listings
  â€¢ Coccinelle: 458 listings
  â€¢ Combi: 22 listings
  â€¢ Corrado: 22 listings
  â€¢ Crafter: 62 listings
  â€¢ Eos: 303 listings
  â€¢ Fox: 142 listings
  â€¢ Golf: 15,781 listings
  â€¢ ID. Buzz: 164 listings
  â€¢ ID.3: 716 listings
  â€¢ ID.4: 402 listings
  â€¢ ID.5: 181 listings
  â€¢ ID.7: 139 listings
  â€¢ Jetta: 137 listings
  â€¢ LT: 5 listings
  â€¢ Lupo: 46 listings
  â€¢ Minibus: 2 listings
  â€¢ Multivan: 750 listings
  â€¢ New Beetle: 103 listings
  â€¢ Passat: 1,946 listings
  â€¢ Phaeton: 26 listings
  â€¢ Polo: 9,902 listings
  â€¢ Scirocco: 857 listings
  â€¢ Sharan: 334 listings
  â€¢ T-Cross: 1,946 listings
  â€¢ T-Roc: 3,955 listings
  â€¢ T1: 1 listings
  â€¢ T2: 1 listings
  â€¢ T3: 13 listings
  â€¢ T4: 41 listings
  â€¢ T5: 98 listings
  â€¢ T6: 72 listings
  â€¢ T7 Multivan: 25 listings
  â€¢ Taigo: 1,647 listings
  â€¢ Taro: 134 listings
  â€¢ Tiguan: 6,273 listings
  â€¢ Tiguan Allspace: 582 listings
  â€¢ Touareg: 829 listings
  â€¢ Touran: 2,425 listings
  â€¢ Transporter: 527 listings
  â€¢ Up: 638 listings
  â€¢ Vento: 4 listings

TOYOTA: 46 models
--------------------------------------------------
  â€¢ 4-Runner: 10 listings
  â€¢ Alphard: 2 listings
  â€¢ Auris: 700 listings
  â€¢ Auris Touring Sports: 215 listings
  â€¢ Avensis: 123 listings
  â€¢ Avensis Verso: 3 listings
  â€¢ Aygo: 1,355 listings
  â€¢ C-HR: 2,985 listings
  â€¢ Camry: 87 listings
  â€¢ Carina: 3 listings
  â€¢ Celica: 58 listings
  â€¢ Corolla: 1,985 listings
  â€¢ Corolla Verso: 112 listings
  â€¢ Crown: 2 listings
  â€¢ Dyna: 3 listings
  â€¢ FJ: 5 listings
  â€¢ GR Supra: 8 listings
  â€¢ GR86: 2 listings
  â€¢ GT86: 68 listings
  â€¢ HiAce: 7 listings
  â€¢ Highlander: 29 listings
  â€¢ Hilux: 422 listings
  â€¢ Land Cruiser: 435 listings
  â€¢ Lexus: 1 listings
  â€¢ LiteAce: 1 listings
  â€¢ MR: 75 listings
  â€¢ Mirai: 24 listings
  â€¢ PROACE CITY Verso: 64 listings
  â€¢ PROACE Combi: 107 listings
  â€¢ PROACE Verso: 137 listings
  â€¢ Paseo: 2 listings
  â€¢ Previa: 2 listings
  â€¢ Prius: 415 listings
  â€¢ Prius+: 55 listings
  â€¢ RAV4: 1,547 listings
  â€¢ Starlet: 3 listings
  â€¢ Supra: 17 listings
  â€¢ Tacoma: 7 listings
  â€¢ Tundra: 9 listings
  â€¢ 370Z: 123 listings
  â€¢ Almera: 21 listings
  â€¢ Almera Tino: 12 listings
  â€¢ Altima: 2 listings
  â€¢ Ariya: 73 listings
  â€¢ Cabstar: 10 listings
  â€¢ Cube: 13 listings
  â€¢ Evalia: 13 listings
  â€¢ GT-R: 22 listings
  â€¢ Interstar: 9 listings
  â€¢ Juke: 3,803 listings
  â€¢ King Cab: 14 listings
  â€¢ Kubistar: 5 listings
  â€¢ Leaf: 987 listings
  â€¢ Maxima: 5 listings
  â€¢ Micra: 1,582 listings
  â€¢ Murano: 67 listings
  â€¢ NP300: 10 listings
  â€¢ NV200: 65 listings
  â€¢ NV250: 1 listings
  â€¢ NV300: 21 listings
  â€¢ NV400: 12 listings
  â€¢ Navara: 432 listings
  â€¢ Note: 334 listings
  â€¢ Pathfinder: 92 listings
  â€¢ Patrol: 330 listings
  â€¢ Pick-up: 6 listings
  â€¢ Pixo: 81 listings
  â€¢ Primastar: 90 listings
  â€¢ Primera: 24 listings
  â€¢ Pulsar: 125 listings
  â€¢ Qashqai: 5,470 listings
  â€¢ Qashqai+2: 401 listings
  â€¢ Quest: 1 listings
  â€¢ Serena: 1 listings
  â€¢ Silvia: 2 listings
  â€¢ Skyline: 26 listings
  â€¢ Sunny: 7 listings
  â€¢ Terrano: 88 listings
  â€¢ Tilda: 1 listings
  â€¢ Titan: 7 listings
  â€¢ Townstar: 5 listings
  â€¢ Trade: 1 listings
  â€¢ Vanette: 4 listings
  â€¢ X-Trail: 1,135 listings

CITROEN: 48 models
--------------------------------------------------
  â€¢ 2 CV: 36 listings
  â€¢ AX: 113 listings
  â€¢ Ami: 432 listings
  â€¢ BX: 27 listings
  â€¢ Berlingo: 2,663 listings
  â€¢ C-Crosser: 106 listings
  â€¢ C-ElysÃ©e: 80 listings
  â€¢ C-ZÃ©ro: 173 listings
  â€¢ C1: 1,980 listings
  â€¢ C15: 50 listings
  â€¢ C2: 930 listings
  â€¢ C25: 1 listings
  â€¢ C3: 16,424 listings
  â€¢ C3 Aircross: 4,845 listings
  â€¢ C3 Picasso: 1,326 listings
  â€¢ C3 Pluriel: 164 listings
  â€¢ C4: 7,139 listings
  â€¢ C4 Aircross: 306 listings
  â€¢ C4 Cactus: 1,911 listings
  â€¢ C4 Picasso: 5,565 listings
  â€¢ C4 SpaceTourer: 952 listings
  â€¢ C4 X: 279 listings
  â€¢ C5: 1,758 listings
  â€¢ C5 Aircross: 4,853 listings
  â€¢ C5 X: 342 listings
  â€¢ C6: 121 listings
  â€¢ C8: 272 listings
  â€¢ DS: 11 listings
  â€¢ DS3: 2,520 listings
  â€¢ DS4: 846 listings
  â€¢ DS4 Crossback: 6 listings
  â€¢ DS5: 526 listings
  â€¢ Dyane: 4 listings
  â€¢ Evasion: 18 listings
  â€¢ Holidays: 3 listings
  â€¢ Jumper: 151 listings
  â€¢ Jumpy: 592 listings
  â€¢ MÃ©hari: 9 listings
  â€¢ Nemo: 195 listings
  â€¢ Saxo: 462 listings
  â€¢ SpaceTourer: 168 listings
  â€¢ Traction/15: 1 listings
  â€¢ XM: 56 listings
  â€¢ Xantia: 141 listings
  â€¢ Xsara: 400 listings
  â€¢ Xsara Picasso: 359 listings
  â€¢ ZX: 61 listings
  â€¢ e-Mehari: 25 listings

VOLKSWAGEN: 48 models
--------------------------------------------------
  â€¢ Amarok: 189 listings
  â€¢ Arteon: 281 listings
  â€¢ Beetle: 384 listings
  â€¢ Bora: 51 listings
  â€¢ Caddy: 371 listings
  â€¢ California: 373 listings
  â€¢ Caravelle: 277 listings
  â€¢ Coccinelle: 458 listings
  â€¢ Combi: 22 listings
  â€¢ Corrado: 22 listings
  â€¢ Crafter: 62 listings
  â€¢ Eos: 303 listings
  â€¢ Fox: 142 listings
  â€¢ Golf: 15,781 listings
  â€¢ ID. Buzz: 164 listings
  â€¢ ID.3: 716 listings
  â€¢ ID.4: 402 listings
  â€¢ ID.5: 181 listings
  â€¢ ID.7: 139 listings
  â€¢ Jetta: 137 listings
  â€¢ LT: 5 listings
  â€¢ Lupo: 46 listings
  â€¢ Minibus: 2 listings
  â€¢ Multivan: 750 listings
  â€¢ New Beetle: 103 listings
  â€¢ Passat: 1,946 listings
  â€¢ Phaeton: 26 listings
  â€¢ Polo: 9,902 listings
  â€¢ Scirocco: 857 listings
  â€¢ Sharan: 334 listings
  â€¢ T-Cross: 1,946 listings
  â€¢ T-Roc: 3,955 listings
  â€¢ T1: 1 listings
  â€¢ T2: 1 listings
  â€¢ T3: 13 listings
  â€¢ T4: 41 listings
  â€¢ T5: 98 listings
  â€¢ T6: 72 listings
  â€¢ T7 Multivan: 25 listings
  â€¢ Taigo: 1,647 listings
  â€¢ Taro: 134 listings
  â€¢ Tiguan: 6,273 listings
  â€¢ Tiguan Allspace: 582 listings

         brand           model  count
0       ABARTH             124     20
1       ABARTH             500   1106
2       ABARTH             600     30
3       ABARTH    Grande Punto      4
4        AIXAM           A 721     13
5        AIXAM           A 741     18
6        AIXAM           A 751      2
7        AIXAM            City    597
8        AIXAM           CoupÃ©    254
9        AIXAM       Crossline    111
10       AIXAM       Crossover    152
11       AIXAM             Eco      8
12       AIXAM            Luxe      3
13       AIXAM         Minauto    179
14       AIXAM         Pick Up      4
15       AIXAM        Roadline      4
16       AIXAM          Scouty     24
17       AIXAM        Standart      3
18       AIXAM      Super Luxe      4
19       AIXAM     UT 2 Places     11
20  ALFA ROMEO             145     10
21  ALFA ROMEO             146      7
22  ALFA ROMEO             147    276
23  ALFA ROMEO             155      6
24  ALFA ROMEO             156    113
25  ALFA ROMEO  156 Crosswagon      2
26  ALFA ROMEO             159    258
27  ALFA ROMEO             164      5
28  ALFA ROMEO             166     32
29  ALFA ROMEO              33     14
30  ALFA ROMEO              4C     29
31  ALFA ROMEO              75      4
32  ALFA ROMEO              8C      1
33  ALFA ROMEO           Brera    106
34  ALFA ROMEO              GT    130
35  ALFA ROMEO             GTV     27
36  ALFA ROMEO          Giulia    310
37  ALFA ROMEO       Giulietta    867
38  ALFA ROMEO          Junior    213
39  ALFA ROMEO            MiTo    745
40  ALFA ROMEO           SZ/RZ      2
41  ALFA ROMEO          Spider     75
42  ALFA ROMEO         Stelvio    530
43  ALFA ROMEO          Tonale    497
44      ALPINE            A110    483
45      ALPINE            A290     34
46        AUDI             100     13
47        AUDI             200      2
48        AUDI              80     31
49        AUDI              90      9

In [15]:
combinations_with_count.write_excel("/Users/brunobrumbrum/Documents/data/car_price_prediction/outputs/brand_model_combinations.xlsx")

In [14]:
! pip install xlsxwriter

Collecting xlsxwriter
  Downloading xlsxwriter-3.2.9-py3-none-any.whl.metadata (2.7 kB)
  Downloading xlsxwriter-3.2.9-py3-none-any.whl.metadata (2.7 kB)
Downloading xlsxwriter-3.2.9-py3-none-any.whl (175 kB)
Downloading xlsxwriter-3.2.9-py3-none-any.whl (175 kB)
Installing collected packages: xlsxwriter
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.9
Successfully installed xlsxwriter-3.2.9

In [ ]:
print("ğŸ” VALIDATING BRAND-MODEL COMBINATIONS FOR ERRORS")
print("=" * 70)

combinations_with_count = (
    data
    .filter(~pl.col('brand').str.contains('other'))
    .group_by(['brand', 'model'])
    .agg(pl.len().alias('count'))
    .sort('count', descending=True)
    .to_pandas()
)

print(f"\nTotal combinations: {len(combinations_with_count):,}")
print(f"\nğŸ“Š POTENTIAL ISSUES TO CHECK:")
print("-" * 70)

# 1. Check for single listing anomalies
single_listing = combinations_with_count[combinations_with_count['count'] == 1]
if len(single_listing) > 0:
    print(f"\nğŸŸ¡ {len(single_listing):,} brand-model combinations with ONLY 1 listing")
    print("   These might be data entry errors. Examples:")
    for idx, row in single_listing.head(10).iterrows():
        print(f"     â€¢ {row['brand']} {row['model']}")
    if len(single_listing) > 10:
        print(f"     ... and {len(single_listing) - 10} more")

# 2. Check for duplicate-like models (typos, case sensitivity)
print(f"\nğŸŸ¡ CHECKING FOR POTENTIAL TYPOS/DUPLICATES:")
for brand in combinations_with_count['brand'].unique():
    brand_models = combinations_with_count[combinations_with_count['brand'] == brand]['model'].tolist()
    
    # Check for models with similar names (potential typos)
    if len(brand_models) > 1:
        for i, model1 in enumerate(brand_models):
            for model2 in brand_models[i+1:]:
                # Simple check: similar length and similar starting letters
                if model1 and model2:
                    model1_lower = str(model1).lower().strip()
                    model2_lower = str(model2).lower().strip()
                    
                    # Check if very similar (potential typo)
                    if (model1_lower[:3] == model2_lower[:3] and 
                        abs(len(model1_lower) - len(model2_lower)) <= 2):
                        count1 = combinations_with_count[
                            (combinations_with_count['brand'] == brand) & 
                            (combinations_with_count['model'] == model1)
                        ]['count'].values[0]
                        count2 = combinations_with_count[
                            (combinations_with_count['brand'] == brand) & 
                            (combinations_with_count['model'] == model2)
                        ]['count'].values[0]
                        
                        print(f"   âš ï¸  {brand}: '{model1}' ({count1:,}) vs '{model2}' ({count2:,})")

# 3. Check for empty or very short model names
print(f"\nğŸŸ¡ CHECKING FOR EMPTY/SHORT MODEL NAMES:")
short_models = combinations_with_count[
    combinations_with_count['model'].astype(str).str.len() < 2
]
if len(short_models) > 0:
    print(f"   Found {len(short_models)} model names with <2 characters:")
    for idx, row in short_models.iterrows():
        print(f"     â€¢ {row['brand']}: '{row['model']}' ({row['count']:,} listings)")

# 4. Summary statistics
print(f"\nğŸ“ˆ STATISTICS:")
print("-" * 70)
print(f"Models per brand:")
models_per_brand = combinations_with_count.groupby('brand').size()
print(f"  Min: {models_per_brand.min()}")
print(f"  Max: {models_per_brand.max()}")
print(f"  Mean: {models_per_brand.mean():.1f}")
print(f"  Median: {models_per_brand.median():.0f}")

print(f"\nListings per combination:")
print(f"  Min: {combinations_with_count['count'].min():,}")
print(f"  Max: {combinations_with_count['count'].max():,}")
print(f"  Mean: {combinations_with_count['count'].mean():.0f}")
print(f"  Median: {combinations_with_count['count'].median():.0f}")

# 5. Show top combinations
print(f"\nğŸ† TOP 20 BRAND-MODEL COMBINATIONS:")
print("-" * 70)
print(combinations_with_count.head(20).to_string(index=False))

print(f"\nğŸ’¡ NEXT STEPS:")
print("   1. Review the CSV export: brand_model_combinations.csv")
print("   2. Check for typos (especially single-listing combinations)")
print("   3. Verify brand names are spelled consistently")
print("   4. Look for data entry errors or misclassifications")
print("   5. Consider if any models should be grouped or renamed")

In [ ]:
# use the data processing tool to load the data clean 
# check next steps to do 
# generate features 
# new eda
# ask what s next

In [ ]:
# Load and clean raw data using the data processing module
print("ğŸ“‚ Loading and cleaning raw data...")
print("=" * 60)

# Define data directory
data_dir = Path(os.path.join(DATA_PATH, "le_boncoin_13_oct_2025"))

# Load raw data
df_raw = load_car_data(data_dir, infer_schema_length=0)

# Initialize data processor
processor = CarDataProcessor(
    min_brand_threshold=50,
    rare_brand_threshold=600,
    price_iqr_multiplier=1.5,
    km_iqr_multiplier=1.5,
    min_year=1990,
    verbose=True
)

# Clean the data
df = processor.clean_data(df_raw)

print("\n" + "=" * 60)
print(f"âœ… Data cleaned and ready for feature engineering!")
print(f"   Final dataset: {df.height:,} rows Ã— {df.width} columns")
print(f"\nğŸ“Š Columns: {df.columns}")
print(f"\nğŸ“ˆ Data types:")
for col in df.columns:
    print(f"  â€¢ {col}: {df[col].dtype}")

# Show cleaning summary
print("\nğŸ“‹ Cleaning Summary:")
print("=" * 60)
summary = processor.get_cleaning_summary()
for step, stats in summary.items():
    print(f"\n{step.upper().replace('_', ' ')}:")
    for key, value in stats.items():
        if isinstance(value, float):
            print(f"  â€¢ {key}: {value:.2f}")
        else:
            print(f"  â€¢ {key}: {value:,}")

df.head(3)

## 2. Time-Based Features

Create features related to vehicle age and depreciation.

In [ ]:
print("â° CREATING TIME-BASED FEATURES")
print("="*50)

CURRENT_YEAR = 2025

# Create age-related features
df_features = df.with_columns([
    # Basic age
    (CURRENT_YEAR - pl.col('year')).alias('car_age'),
    
    # Age categories
    pl.when(pl.col('year') >= 2023)
        .then(pl.lit('new_0-2yr'))
    .when(pl.col('year') >= 2020)
        .then(pl.lit('recent_3-5yr'))
    .when(pl.col('year') >= 2015)
        .then(pl.lit('mid_age_6-10yr'))
    .when(pl.col('year') >= 2010)
        .then(pl.lit('older_11-15yr'))
    .otherwise(pl.lit('very_old_16+yr'))
    .alias('age_category'),
    
    # Is the car almost new?
    (pl.col('year') >= 2023).alias('is_almost_new'),
    
    # Decade of manufacture
    ((pl.col('year') // 10) * 10).alias('decade')
])

print("âœ… Time-based features created:")
print("  â€¢ car_age: Years since manufacture")
print("  â€¢ age_category: Categorical age grouping")
print("  â€¢ is_almost_new: Boolean for cars 2023+")
print("  â€¢ decade: Decade of manufacture")

# Show age distribution
age_dist = df_features.group_by('age_category').len().sort('len', descending=True)
print(f"\nğŸ“Š Age category distribution:")
for row in age_dist.iter_rows():
    cat, count = row
    pct = (count / df_features.height) * 100
    print(f"  {cat}: {count:,} ({pct:.1f}%)")

## 3. Mileage-Based Features

Create features related to vehicle usage and mileage patterns.

In [ ]:
print("ğŸš— CREATING MILEAGE-BASED FEATURES")
print("="*50)

# Calculate percentiles for mileage
km_p25 = df_features['km'].quantile(0.25)
km_p50 = df_features['km'].quantile(0.50)
km_p75 = df_features['km'].quantile(0.75)
km_p90 = df_features['km'].quantile(0.90)

print(f"Mileage percentiles:")
print(f"  25th: {km_p25:,.0f} km")
print(f"  50th: {km_p50:,.0f} km")
print(f"  75th: {km_p75:,.0f} km")
print(f"  90th: {km_p90:,.0f} km")

df_features = df_features.with_columns([
    # Kilometers per year (avoid division by zero)
    pl.when(pl.col('car_age') > 0)
        .then(pl.col('km') / pl.col('car_age'))
        .otherwise(pl.col('km'))
        .alias('km_per_year'),
    
    # Mileage categories
    pl.when(pl.col('km') < km_p25)
        .then(pl.lit('very_low'))
    .when(pl.col('km') < km_p50)
        .then(pl.lit('low'))
    .when(pl.col('km') < km_p75)
        .then(pl.lit('medium'))
    .when(pl.col('km') < km_p90)
        .then(pl.lit('high'))
    .otherwise(pl.lit('very_high'))
    .alias('mileage_category'),
    
    # Boolean flags
    (pl.col('km') < 50000).alias('is_low_mileage'),
    (pl.col('km') > km_p75).alias('is_high_mileage'),
    (pl.col('km') < 10000).alias('is_nearly_new_mileage')
])

print("\nâœ… Mileage features created:")
print("  â€¢ km_per_year: Average annual usage")
print("  â€¢ mileage_category: Low/Medium/High grouping")
print("  â€¢ is_low_mileage: <50k km")
print("  â€¢ is_high_mileage: >75th percentile")
print("  â€¢ is_nearly_new_mileage: <10k km")

# Show mileage category distribution
mileage_dist = df_features.group_by('mileage_category').len().sort('len', descending=True)
print(f"\nğŸ“Š Mileage category distribution:")
for row in mileage_dist.iter_rows():
    cat, count = row
    pct = (count / df_features.height) * 100
    print(f"  {cat}: {count:,} ({pct:.1f}%)")

## 4. Price-Related Features

Create derived price features and categorizations.

In [ ]:
print("ğŸ’° CREATING PRICE-RELATED FEATURES")
print("="*50)

# Calculate price percentiles
price_p20 = df_features['price'].quantile(0.20)
price_p40 = df_features['price'].quantile(0.40)
price_p60 = df_features['price'].quantile(0.60)
price_p80 = df_features['price'].quantile(0.80)

print(f"Price percentiles:")
print(f"  20th: â‚¬{price_p20:,.0f}")
print(f"  40th: â‚¬{price_p40:,.0f}")
print(f"  60th: â‚¬{price_p60:,.0f}")
print(f"  80th: â‚¬{price_p80:,.0f}")

df_features = df_features.with_columns([
    # Price per year of age (depreciation indicator)
    pl.when(pl.col('car_age') > 0)
        .then(pl.col('price') / pl.col('car_age'))
        .otherwise(pl.col('price'))
        .alias('price_per_year'),
    
    # Price per 1000 km
    pl.when(pl.col('km') > 0)
        .then(pl.col('price') / (pl.col('km') / 1000))
        .otherwise(pl.col('price'))
        .alias('price_per_1000km'),
    
    # Log price (for modeling)
    (pl.col('price') + 1).log().alias('log_price'),
    
    # Price categories
    pl.when(pl.col('price') < price_p20)
        .then(pl.lit('budget'))
    .when(pl.col('price') < price_p40)
        .then(pl.lit('economy'))
    .when(pl.col('price') < price_p60)
        .then(pl.lit('mid_range'))
    .when(pl.col('price') < price_p80)
        .then(pl.lit('premium'))
    .otherwise(pl.lit('luxury'))
    .alias('price_category')
])

print("\nâœ… Price features created:")
print("  â€¢ price_per_year: Price divided by age")
print("  â€¢ price_per_1000km: Price per 1000 km")
print("  â€¢ log_price: Log-transformed price")
print("  â€¢ price_category: Budget/Economy/Mid/Premium/Luxury")

# Show price category distribution
price_cat_dist = df_features.group_by('price_category').agg([
    pl.len().alias('count'),
    pl.col('price').mean().alias('avg_price'),
    pl.col('price').min().alias('min_price'),
    pl.col('price').max().alias('max_price')
]).sort('avg_price')

print(f"\nğŸ“Š Price category statistics:")
print(f"{'Category':<12} {'Count':>10} {'Avg Price':>12} {'Min':>10} {'Max':>10}")
print("-" * 60)
for row in price_cat_dist.iter_rows():
    cat, count, avg, min_p, max_p = row
    print(f"{cat:<12} {count:>10,} â‚¬{avg:>11,.0f} â‚¬{min_p:>9,.0f} â‚¬{max_p:>9,.0f}")

## 5. Brand and Model Features

Create aggregated features based on brand and model popularity.

In [ ]:
print("ğŸ·ï¸  CREATING BRAND/MODEL FEATURES")
print("="*50)

# Calculate brand statistics
brand_stats = df_features.group_by('brand').agg([
    pl.len().alias('brand_count'),
    pl.col('price').mean().alias('brand_avg_price'),
    pl.col('price').median().alias('brand_median_price'),
    pl.col('price').std().alias('brand_price_std'),
    pl.col('km').mean().alias('brand_avg_km'),
    pl.col('car_age').mean().alias('brand_avg_age')
])

# Join brand stats back to main dataframe
df_features = df_features.join(brand_stats, on='brand', how='left')

print("âœ… Brand features created:")
print("  â€¢ brand_count: Number of listings for this brand")
print("  â€¢ brand_avg_price: Average price for this brand")
print("  â€¢ brand_median_price: Median price for this brand")
print("  â€¢ brand_price_std: Price std deviation for this brand")
print("  â€¢ brand_avg_km: Average mileage for this brand")
print("  â€¢ brand_avg_age: Average age for this brand")

# Calculate model statistics (within brand)
model_stats = df_features.group_by(['brand', 'model']).agg([
    pl.len().alias('model_count'),
    pl.col('price').mean().alias('model_avg_price'),
    pl.col('price').median().alias('model_median_price')
])

# Join model stats
df_features = df_features.join(model_stats, on=['brand', 'model'], how='left')

print("\nâœ… Model features created:")
print("  â€¢ model_count: Number of listings for this model")
print("  â€¢ model_avg_price: Average price for this model")
print("  â€¢ model_median_price: Median price for this model")

# Create relative price features
df_features = df_features.with_columns([
    # How does this car's price compare to brand average?
    (pl.col('price') / pl.col('brand_avg_price')).alias('price_vs_brand_avg'),
    
    # How does this car's price compare to model average?
    (pl.col('price') / pl.col('model_avg_price')).alias('price_vs_model_avg'),
    
    # Is this model popular for the brand?
    (pl.col('model_count') / pl.col('brand_count')).alias('model_popularity_ratio')
])

print("\nâœ… Relative price features created:")
print("  â€¢ price_vs_brand_avg: Price ratio vs brand average")
print("  â€¢ price_vs_model_avg: Price ratio vs model average")
print("  â€¢ model_popularity_ratio: Model popularity within brand")

# Show top brands by count
top_brands = brand_stats.sort('brand_count', descending=True).head(10)
print(f"\nğŸ“Š Top 10 brands by listing count:")
print(f"{'Brand':<15} {'Count':>10} {'Avg Price':>12} {'Avg Age':>10}")
print("-" * 50)
for row in top_brands.iter_rows():
    brand, count, avg_price, med_price, std, avg_km, avg_age = row
    print(f"{brand:<15} {count:>10,} â‚¬{avg_price:>11,.0f} {avg_age:>9.1f}yr")

## 6. Interaction Features

Create features that capture interactions between variables.

In [ ]:
print("ğŸ”„ CREATING INTERACTION FEATURES")
print("="*50)

df_features = df_features.with_columns([
    # Age Ã— Mileage interaction (heavily used old cars)
    (pl.col('car_age') * pl.col('km') / 1000).alias('age_km_interaction'),
    
    # Is this a high-value old car? (potential classic/rare)
    ((pl.col('car_age') > 10) & (pl.col('price') > price_p80)).alias('is_valuable_old_car'),
    
    # Is this a low-mileage recent car? (barely used)
    ((pl.col('car_age') < 5) & (pl.col('km') < 50000)).alias('is_low_use_recent'),
    
    # Unusual combinations
    ((pl.col('car_age') < 3) & (pl.col('km') > 150000)).alias('is_high_use_new'),
    ((pl.col('car_age') > 15) & (pl.col('km') < 50000)).alias('is_garage_queen'),
    
    # Value for money indicator
    pl.when(pl.col('km_per_year') > 0)
        .then(pl.col('price') / (pl.col('km_per_year') / 1000))
        .otherwise(pl.col('price'))
        .alias('value_score')
])

print("âœ… Interaction features created:")
print("  â€¢ age_km_interaction: Age Ã— Mileage combined")
print("  â€¢ is_valuable_old_car: Old but expensive (potential classic)")
print("  â€¢ is_low_use_recent: Recent car, low mileage")
print("  â€¢ is_high_use_new: New car, very high mileage")
print("  â€¢ is_garage_queen: Old car, very low mileage")
print("  â€¢ value_score: Price relative to annual usage")

# Count unusual patterns
valuable_old = df_features['is_valuable_old_car'].sum()
low_use_recent = df_features['is_low_use_recent'].sum()
high_use_new = df_features['is_high_use_new'].sum()
garage_queen = df_features['is_garage_queen'].sum()

print(f"\nğŸ“Š Unusual pattern counts:")
print(f"  Valuable old cars: {valuable_old:,}")
print(f"  Low-use recent cars: {low_use_recent:,}")
print(f"  High-use new cars: {high_use_new:,}")
print(f"  Garage queens (old, low mileage): {garage_queen:,}")

## 7. Feature Summary and Data Quality Check

In [ ]:
print("ğŸ“Š FEATURE ENGINEERING SUMMARY")
print("="*70)

print(f"\nOriginal features: 5")
print(f"New features created: {len(df_features.columns) - 5}")
print(f"Total features: {len(df_features.columns)}")

print(f"\nğŸ“‹ All features:")
print("-" * 70)

# Categorize features
original_features = ['price', 'year', 'km', 'brand', 'model']
time_features = ['car_age', 'age_category', 'is_almost_new', 'decade']
mileage_features = ['km_per_year', 'mileage_category', 'is_low_mileage', 'is_high_mileage', 'is_nearly_new_mileage']
price_features = ['price_per_year', 'price_per_1000km', 'log_price', 'price_category']
brand_features = ['brand_count', 'brand_avg_price', 'brand_median_price', 'brand_price_std', 'brand_avg_km', 'brand_avg_age']
model_features = ['model_count', 'model_avg_price', 'model_median_price']
relative_features = ['price_vs_brand_avg', 'price_vs_model_avg', 'model_popularity_ratio']
interaction_features = ['age_km_interaction', 'is_valuable_old_car', 'is_low_use_recent', 'is_high_use_new', 'is_garage_queen', 'value_score']

print("\nğŸ”¹ Original features (5):")
for f in original_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Time-based features (4):")
for f in time_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Mileage-based features (5):")
for f in mileage_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Price-related features (4):")
for f in price_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Brand aggregate features (6):")
for f in brand_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Model aggregate features (3):")
for f in model_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Relative price features (3):")
for f in relative_features:
    print(f"  â€¢ {f}")

print("\nğŸ”¹ Interaction features (6):")
for f in interaction_features:
    print(f"  â€¢ {f}")

# Check for missing values in new features
print(f"\nğŸ” DATA QUALITY CHECK:")
print("-" * 70)

missing_counts = {}
for col in df_features.columns:
    null_count = df_features[col].null_count()
    if null_count > 0:
        missing_counts[col] = null_count

if missing_counts:
    print("âš ï¸  Features with missing values:")
    for col, count in missing_counts.items():
        pct = (count / df_features.height) * 100
        print(f"  â€¢ {col}: {count:,} ({pct:.2f}%)")
else:
    print("âœ… No missing values in any feature!")

# Check for infinite values
print(f"\nChecking for infinite values...")
inf_found = False
for col in df_features.columns:
    if df_features[col].dtype in [pl.Float64, pl.Float32]:
        inf_count = df_features.filter(pl.col(col).is_infinite()).height
        if inf_count > 0:
            print(f"  âš ï¸  {col}: {inf_count:,} infinite values")
            inf_found = True

if not inf_found:
    print("âœ… No infinite values found!")

print(f"\n{'='*70}")
print("âœ… FEATURE ENGINEERING COMPLETE")
print(f"{'='*70}")

## 8. Save Enhanced Dataset

In [ ]:
print("ğŸ’¾ SAVING ENHANCED DATASET")
print("="*50)

# Save with features
output_path = PROCESSED_DATA_PATH / "car_data_with_features.csv"
df_features.write_csv(output_path)

print(f"âœ… Enhanced dataset saved to:")
print(f"   {output_path}")
print(f"\nğŸ“Š Dataset info:")
print(f"  â€¢ Rows: {df_features.height:,}")
print(f"  â€¢ Columns: {df_features.width}")
print(f"  â€¢ File size: {output_path.stat().st_size / (1024**2):.2f} MB")

print(f"\nğŸ¯ Next steps:")
print("  1. Notebook 04: Post-cleaning EDA on enhanced features")
print("  2. Notebook 05: Model preparation (encoding, scaling, splitting)")
print("  3. Notebook 06: Model training and evaluation")

# Display sample
print(f"\nğŸ“‹ Sample of enhanced data:")
df_features.head(3)